---

const { type } = Astro.props;

const clazz = "arrow " + type;

---

<a>
<svg class={clazz} viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <polyline class="border" points="7,12 50,50 50,50 7,88" stroke-linecap="round" stroke-width="12" stroke-linejoin="round"; />
    <polyline class="fill"   points="7,12 50,50 50,50 7,88" stroke-linecap="round" stroke-width="8"  stroke-linejoin="round"; />
</svg>
</a>

<style>

    svg {
        position: absolute;
        top: 50%;
        margin-top: -20px;
        height: 40px;
        z-index: 10;
    }

    svg {
        transition: all 0.25s ease-in-out;
        .border {
            stroke: var(--background-color-950);
        }
        .fill {
            stroke: var(--text-color-accent);
        }
    }

    svg[active='false'] {
        filter: brightness(50%);
    }

    svg:hover {
        scale: 1.1;
    }

    .left {
        left: 0px;
        transform: rotateY(180deg);
    }

    .right {
        right: 0px;
    }

</style>