---

import { DOMParser, parseHTML } from 'linkedom';

import Swiper from './Swiper.astro'

const { images } = Astro.props;

---

<div class="slideshow">

    <div class="slideshow-swiper-wrapper">

        <Swiper images={images} />

    </div>

</div>

<style>

    .slideshow {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0px;
    }

    .slideshow-swiper-wrapper {
        max-width: 750px;
    }

</style>