---

import { Image } from 'astro:assets';

const { name = "" } = Astro.props;

---

<div class="slide" name={name}>
    <slot />
</div>

<style>
    
    .slide {
        
        display: flex;
        flex-direction: column;
        width: calc(100% - 2px);

        .caption {
            background-color: var(--background-ternary-color);
            width: 100%;
            height: 100px;
            padding: 10px;
        }

    }

</style>
