<div class="page-button"></div>

<style>

    .page-button {
        height: 100%;
        aspect-ratio: 1;
    }

    .page-button {
        background: var(--text-color-primary);

        clip-path: polygon(
            30% 30%,
            70% 30%,
            70% 70%,
            30% 70%
        );
    }

</style>