---

import headshot from '@assets/headshot.png';

---

<div class="bio">
	<img class="headshot" src={ headshot.src } />
	<div class="name">Chris Williams</div>
	<div class="blurb">Software Developer</div>
</div>

<style>

	.bio {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bio {

		padding-top: 25px;

		.headshot {
			width: 150px;
			height: 150px;
			border-radius: 50%;
		}

		.name {
			font-size: 1.7rem;
			font-weight: var(--bold);
			padding-top: 10px;
		}

		.blurb {
			color: var(--text-color-secondary);
			font-size: 1.4rem;
			margin-bottom: 1rem;
		}

	}

</style>