---

import { Image } from 'astro:assets';

const { title, expert, advanced = [], intermediate = [] } = Astro.props;

const expertElements = expert.join(' ');
const advancedElements = advanced.join(' ');

---

<div class="skill">

    <div class="title">{ title }</div>
    
    <div class="rows">
        
        <div class="row expert">
            { expertElements }
        </div>

        <div class="row advanced">
            { advancedElements }
        </div>

    </div>

</div>

<style>

    .skill {

        display: flex;
        flex-direction: column;
        align-content: center;

        width: 100%;

        .title {
            color: var(--text-color-accent);
            font-weight: var(--bold);
            font-size: 1.25rem;
            text-align: left;
            stext-align: center;
        }

        .break {
            width: 100%;
        }

        margin: 5px 0px 5px 0px;

    }

    .rows {

        display: flex;
        align-items: center;
        xjustify-content: center;
        flex-wrap: wrap;

        gap: 7px;
        margin-top: 6px;

        .row {
            min-width: 200px;
        }
        
        .expert {
            color: var(--text-color-primary);
            font-size: 1.3rem;
            Xfont-weight: var(--bold);
        }

        .advanced {
            color: var(--text-color-secondary);
            font-size: 1.3rem;
        }

        .break {
            width: 100%;
        }

        .row {
            display: flex;
            gap: 7px;

            div:not(:last-child)::after {
                content: ",";
                margin-left: 5px;
            }
        }

    }

</style>