---

import { Image } from 'astro:assets';

const { title, expert, advanced = [], intermediate = [] } = Astro.props;

const expertElements = expert.join(' ');
const advancedElements = advanced.join(' ');

---

<div class="skill">

    <div class="title">{ title }</div>

    <div class="rows">
        <div class="row expert">{ expertElements }</div>
        <div class="row advanced">{ advancedElements }</div>
    </div>

</div>

<style lang='scss'>

    @use '/src/css/layout.scss' as *;

    .skill {

        align-content: center;
        display: flex;
        flex-flow: column;
        margin: 5px 0px 5px 0px;

        .title {
            color: var(--text-color-accent);
            font-size: 1.25rem;
            font-weight: var(--bold);
            text-align: left;
        }

        .rows {

            align-items: left;
            display: flex;
            flex-flow: column;
            gap: 7px;
            justify-content: left;
            margin-top: 6px;
            
            .expert {
                color: var(--text-color-primary);
                font-size: 1.3rem;
            }

            .advanced {
                color: var(--text-color-secondary);
                font-size: 1.3rem;
            }

        }

    }

    @include single-column-layout {
        .skill {
            
        }
    }

</style>