---

const { text = "" } = Astro.props;

---

<div class="section-heading">{ text }</div>

<style>

    .section-heading {
        font-size: 1.7rem;
        font-weight: var(--bold);
    }

</style>