---
const { text = "" } = Astro.props;
---

<div class="sub-section-heading">{ text }</div>

<style>

    .sub-section-heading {
        color: var(--text-color-secondary);
        font-size: 1.5rem;
    }
    
</style>