---

const skills = [

    { "title": "Databases", "description": "Mysql, Postgresql" },
    { "title": "AWS", "description": "Route53, RDS, S3, EC2, EKS" }

];
import { Image } from 'astro:assets';
---

<div class="skills">

    {skills.map(skill => (
        <div class="skill">
            <div class="title">{skill.title}</div>
            <div class="description">{skill.description}</div>
        </div>
    ))}

</div>

<style>


</style>