---

import { Image } from 'astro:assets';

import Github from '@icons/socials/Github.astro';
import Linkedin from '@icons/socials/Linkedin.astro';
import Email from '@icons/socials/Email.astro';

---

<div class="socials">
    <a href="https://github.com/chrisw-gg" target="_blank"><Github /></a>
    <a href="https://linkedin.com" target="_blank"><Linkedin /></a>
    <a href="mailto:me@chrisw.gg" target="_blank"><Email /></a>
</div>

<style>

    .socials {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        height: 40px;
        width: 100%;
        gap: 20px;

        a {

            height: 50%;

            svg {
            
                height: 100%;
                transition: all 0.1s ease-in-out;

                path {
                    fill: var(--text-color-primary);
                    transition: all 0.4s ease-in-out;
                }

            }

            svg:hover {

                transform: scale(1.2);

                path {
                    fill: var(--text-color-accent);
                }

            }

        }

    }

</style>
