---

---

<div class="container">
    <slot />
</div>

<style>

    .container {
        display: flex;
        justify-content: center;
        height: 50px;
        gap: 25px;
    }

    .container {
        svg {
            height: 100%;
        }
    }

</style>