---

const { percentage } = Astro.props;

const degrees = 2 * (100 / percentage) + 'deg';

---

<div class="progress">
</div>

<style define:vars={{ degrees }}>

    .progress {

        aspect-ratio: 1;
        background: var(--text-color-accent);
        border-radius: 50%;

        height: 25px;
        padding: 4px;

        mask: linear-gradient(#0000 0 0) content-box intersect, conic-gradient(#000 var(--degrees),#0000 0);

    }

</style>