---

import BaseLayout from '@layouts/BaseLayout.astro';

---

<BaseLayout>

	<header />
	
	<main>
		
		<div id='side-column'>
			<slot name='slot_sidebar' />
		</div>

		<div id='main-column'>
			<slot name='slot_content' />
		</div>
		
	</main>

	<footer />

</BaseLayout>

<style lang='scss'>

	$CONTENT_WIDTH: 1000px;
	$SIDEBAR_WIDTH: 300px;

	$COLUMN_GAP: 10px;

	$header_size: 25px;
	$footer_size: 25px;

	$SWITCH_TO_FLOATING_SIDEBAR: calc($CONTENT_WIDTH + $SIDEBAR_WIDTH + $COLUMN_GAP);

	/* Single Column Layout */
	main {

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		margin-top: $header_size;
		margin-bottom: $footer_size;

		#side-column {
			background-color: var(--background-color-900);
			
			display: flex;
			flex-direction: column;

			max-width: $CONTENT_WIDTH;
			width: 100%;
		}

		#main-column {
			display: flex;
			flex-direction: column;

			gap: 10px;

			max-width: $CONTENT_WIDTH;
			width: 100%;
		}

	}

	/* Dual Column Layout */
	@media (min-width: $SWITCH_TO_FLOATING_SIDEBAR) {

		header {
			background-color: var(--background-color-950);
			height: $header_size;
			position: fixed;
			top: 0px;
			width: 100%;
			z-index: 100;
		}

		main {

			flex-direction: row;
			align-items: flex-start;
			justify-content: center;

			#side-column {
				height: calc(100vh - ($header_size + $footer_size));
				overflow-x: hidden;
				overflow-y: scroll;
				position: sticky;
				top: $header_size;
				width: $SIDEBAR_WIDTH;
			}

			#main-column {
				margin-left: $COLUMN_GAP;
			}

		}

		footer {
			background-color: var(--background-color-950);
			bottom: 0px;
			height: $header_size;
			position: fixed;
			width: 100%;
			z-index: 100;
		}

	}

</style>