---

import BaseLayout from '@layouts/BaseLayout.astro';

---

<BaseLayout>

    <header />
    
    <div id='columns'>
        
        <aside>
            <slot name='slot_sidebar' />
        </aside>

        <main>
            <slot name='slot_content' />
        </main>
        
    </div>

    <footer />

</BaseLayout>

<style lang='scss'>

    @use '/src/css/layout.scss' as *;

    @property --layout {
        syntax: 'single-column | dual-column';
        inherits: true;
        initial-value: single-column;
    }

    :root {
        --layout: single-column;
    }

    @include dual-column-layout {
        :root {
            --layout: dual-column;
        }
    }

</style>

<style lang='scss'>

    @use '/src/css/layout.scss' as *;

    #columns {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        margin-top: $header_size;
        margin-bottom: $footer_size;

        aside {
            background-color: var(--background-color-900);
            
            display: flex;
            flex-direction: column;

            max-width: $content_width;
            width: 100%;
        }

        main {
            display: flex;
            flex-direction: column;

            gap: 10px;

            max-width: $content_width;
            width: 100%;
        }

    }

    @include dual-column-layout {

        header {
            background-color: var(--background-color-950);
            height: $header_size;
            position: fixed;
            top: 0px;
            width: 100%;
            z-index: 100;
        }

        #columns {

            flex-direction: row;
            align-items: flex-start;
            justify-content: center;

            aside {
                height: calc(100vh - ($header_size + $footer_size));
                position: sticky;
                top: $header_size;
                width: $sidebar_width;
            }

            main {
                margin-left: $column_gap;
            }

        }

        footer {
            background-color: var(--background-color-950);
            bottom: 0px;
            height: $header_size;
            position: fixed;
            width: 100%;
            z-index: 100;
        }

    }

</style>